.page-content {
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    // grid-gap: 3em 1em;
    padding-top: 2em;
    padding-bottom: 2em;
}

section {
    padding: 14vh 0;
    background-image: linear-gradient(to bottom, rgba( $bg , .35) 0%, rgba(black, 0) 66%);
}

.columns {

    .column__primary {
    }
    .column__secondary {
    }

    @include media(xs) {
        .column__secondary {
            // float: right;
            // width: 30%;
        }
    }

    @include media(sm) {
        display: flex;
        flex-direction: row;
    }

    .column__primary {
        flex: 1;
    }
    .column__secondary {
        flex: .75;
    }

}
