.page-content {
    padding-top: 2em;
    padding-bottom: 2em;
}

section {
    padding: 14vh 0;
    background-image: linear-gradient(to bottom, rgba( $bg , .35) 0%, rgba(black, 0) 66%);
}

.columns {

    .column__text {
    }
    .column__image {
        background-color: var(--c-2--l);
        img {
        mix-blend-mode: luminosity;
    }
}

    @include media(xs) {
        .column__image {
            // float: right;
            // width: 30%;
        }
    }

    @include media(sm) {
        display: flex;
        flex-direction: row;
    }

    .column__text {
        flex: 1;
    }
    .column__image {
        flex: .75;
    }

}
