<footer class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
        <h5 class="h4 footer-heading">{{ site.title | escape }}</h5>
        <!-- <ul class="contact-list">
           <li class="p-name">
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul> -->
      </div>

      <div class="text--small">
        <p>{{ site.description | escape }}</p>
        <p>&copy; {{ 'now' | date: "%Y" }} Eric Clark</small></p>
        <ul>
          <li>
            <a href="https://codepen.io/eclarrrk/" itemprop="url" target="_blank" rel="external noopener">
              <span class="content-hide-visually">Play with my code experiments on </span>
              <span itemprop="memberOf">Code&#8202;Pen</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/eclarrrk/" itemprop="url" target="_blank" rel="external noopener">
              <span class="content-hide-visually">See some web project code on </span>
              <span itemprop="memberOf">Git&#8202;Hub</span>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/eclarrrk/" itemprop="url" target="_blank" rel="external noopener">
              <span class="content-hide-visually">Check out my photos on </span>
              <span itemprop="memberOf">Instagram</span>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/eclarrrk/">
              <span class="content-hide-visually">Follow me on </span>
              <span itemprop="memberOf">Twitter</span>
            </a>
          </li>
        </ul>

      </div>
    </div>

  </div>

</footer>
